<h1>Upload an Audio</h1>

<!-- <form [formGroup]="form" (submit)="processForm()"> -->
<!-- <table>
    <div>
        File:<input type="file" name="audioFile" #upload>
    </div>

    <div>
        <button (click)="processForm()">Submit</button>
      </div>

    </table> -->
    <!-- </form> -->
    <table>
      <div>
          File:<input type="file" name="audioFile" #upload multiple>
      </div>
  
      <div>
          <button (click)="processForm()">Submit</button>
        </div>
  
      </table>